@import './styles';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .timer {
    .ring{
      transform: rotate(-90deg);
    
      &__back{
        stroke: $back-ring;
        stroke-width: $ring-width;
      }
  
      &__progress {
        stroke: $progress-stroke;
        stroke-width: $ring-width;
        stroke-dasharray: 1;
        paint-order: stroke;
        fill: $mask;
      }
    }

    .counter{
      color: $timer-counter;
    }
  }
}
